html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 340px;
  overflow-x: hidden;
  @include montserrat-regular;
  font-size: 15px;
  line-height: 22px;
  background-color: #ffffff;
  color: $black;
  position: relative;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

svg {
  pointer-events: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

main {
  min-height: calc(100vh - 530px);
}

.hidden {
  display: none !important;
}

.dz-details,
.dz-progress,
.dz-error-message,
.dz-success-mark,
.dz-error-mark {
  display: none !important;
}

.dz-message {
  button {
    padding: 0;
  }
}

.dz-remove {
  line-height: 0;
  font-size: 0;
}

.dz-preview:not(.dz-preview.dz-processing) {
  display: none;
}

.air-datepicker-global-container {
  z-index: 9999;
}


.swiper-horizontal {
  overflow: hidden;
  position: relative;

  button {
    path {
      transition: all .3s;
    }
  }
}

.swiper-button-disabled {
  cursor: auto !important;
  pointer-events: none !important;
  opacity: 0.55 !important;
}

.input_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.site-container {
  position: relative;
  overflow: hidden;
}


.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}


.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  @include montserrat-medium;
  font-size: 15px;
  line-height: 22px;
  padding: 11px 25px;
  transition: all .3s;
  color: $white;
  border: none;
  background: $main-blue;

}


.modal {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  width: 602px;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 1px solid #93B5C5;
  border-radius: 5px;
  padding: 44px 52px 35px 36px;
  box-shadow: 0 8px 15px rgba(51, 115, 144, 0.3);
  transition: all .2s;
  opacity: 0;
  visibility: hidden;

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: -1;

  &._active {
    z-index: 998;
    visibility: visible;
  }
}


// стили для флекс-таблиц

.flex-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__row {
    display: flex;
  }

  &__cell {
    width: 100%;
    flex: 1 1 auto;
    @include montserrat-regular;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &:not(:last-child) {
      padding-right: 20px;
    }
  }
}


.close-modal-btn {
  position: absolute;
  right: 16px;
  top: 14px;

  svg path {
    transition: all .3s;
  }

  &:hover svg path {
    fill: $main-red;
  }
}

.trim-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bread-crumbs {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 30px;

  a {
    color: $main-blue;
  }
}

.main-subtitle {
  @include montserrat-semibold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
